<h3>Sign in</h3>
<form {{action 'authenticate' on='submit'}}>
  <label>Email: {{input type='email' value=identification}}</label>
  <label>Password: {{input type='password' value=password}}</label>
  <button type="submit">Sign in</button>
</form>