---
language: node_js
node_js:
  - 'iojs-v2.0.1'

sudo: false

cache:
  directories:
    - node_modules

before_install:
  - export PATH=/usr/local/phantomjs-2.0.0/bin:$PATH
  - npm config set spin false
  - npm install -g npm@^2

install:
  - npm install -g bower
  - npm install
  - bower install

script:
  - npm test

deploy:
  provider: heroku
  api_key:
    secure: HlDS3ewXebXFlUQTHwqpc+mv9qZTmGSd0VnogBSoP4ih5H86XpC6shBLDy9NBq1N9e2qV5va+NnoMLjpzTrNAk3HOPmQIJIgvKzq6nSFo2CqII3jk5+3DSQ87cNCz0OtnyDuo6banm072PWooht1S480+pnz3RLJANOMmq1Y0Xs=
  app: techdb-admin
  on:
    repo: envisioning/tdb
