<form {{action 'register' model on='submit'}}>
  <label>Email: {{input type='email' value=model.email}}</label>
  <label>Password: {{input type='password' value=model.password}}</label>
  <button type="submit">Register</button>
</form>