<table>
  <thead>
    <tr>
      <th>Technology</th>
    </tr>
  </thead>
  <tbody>
    {{#each model as |tech|}}
      <tr>
        <td>{{#link-to 'technologies.edit' tech}}{{tech.name}}{{/link-to}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>