<table>
  <thead>
    <tr>
      <th>Technology</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    {{#each model as |tech|}}
      <tr>
        <td>{{#link-to 'technologies.read' tech.id}}{{tech.name}}{{/link-to}}</td>
        <td>
          {{#link-to 'technologies.edit' tech.id}}Edit{{/link-to}}
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>