<div class="contain-to-grid">
  <nav class="top-bar" role="navigation">
    <ul class="title-area">
      <li class="name">
        <h1>{{#link-to 'index'}}TechDB Admin{{/link-to}}</h1>
      </li>
    </ul>
    <section class="top-bar-section">
      <ul class="right">
        {{#if session.isAuthenticated}}
          <li class="has-dropdown not-click">
            {{#link-to 'technologies.index'}}Technologies{{/link-to}}
            <ul class="dropdown">
              <li>{{#link-to 'technologies.index'}}Index{{/link-to}}</li>
              <li>{{#link-to 'technologies.create'}}Create{{/link-to}}</li>
            </ul>
          </li>
          <li><a {{ action 'invalidateSession' }}>Logout</a></li>
        {{else}}
          <li>{{#link-to 'register'}}Register{{/link-to}}</li>
          <li>{{#link-to 'signin'}}Sign in{{/link-to}}</li>
        {{/if}}
      </ul>
    </section>
  </nav>
</div>
<div class="row">
  {{outlet}}
</div>